.card{
        background-color: white;
        width: 326px;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        
}

.card__body{
    margin: 46px;
    padding: 25px;}

.card__image{
    height: 200px
}
