
button {
    border: 2px solid #8b2e2e; /*anchura, estilo y color borde*/
    padding: 20px; /*espacio alrededor texto*/
    background-color: #8b2e2e; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif;  /*tipografía texto*/
    border-radius: 25px; /*bordes redondos*/
    }

